body {
    background-color: #F9F8FF !important;
    font-family: 'Roboto', sans-serif;
}
input:focus, textarea:focus, select:focus{
    outline: none;
}
a{
    color: #675ae8;
    text-decoration: none;
    font-weight: 500;
}
i{
    color: #675ae8;
}
/* Classes */
.py{
    background-color: #e2e7f1;
    padding-top: 1rem!important;
    padding-bottom: 1rem!important;
}
.search-container:hover{
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
.search-container{
    transition: all .2s ease-in-out;
}
.bg-brand-light {
    background-color: white;
}
.rounded{
    border-radius: .25rem;
}
.p-3 {
    padding: 1rem!important;
}
.border{
    border: 1px solid;
}
.search-input{
    border: none;
}
.border-radient-brand{
    outline: none;
    border: 2px solid #9331b9;
    border-radius: 3px;
    padding: 10px;
    background-color: #f3f2ff;
}